{% extends 'base-mobile.html.twig' %}

{% block title %}Влизане
{% endblock %}

{% block body %}
	<div class="card-header mb-3">Влизане</div>
	<form action="{{ path('app_login') }}" method="post">
		<div class="form-group">
			<label for="username">Имейл:</label>
			<input type="text" id="username" class="form-control" name="email" value="{{ email ?? '' }}"/>
		</div>

		<div class="form-group">
			<label for="username">Парола:</label>
			<input type="password" id="username" class="form-control" name="password" value="{{ password ?? '' }}"/>
		</div>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<div class="col-md-12">
			<button type="button" class="btn btn-primary btn-block">Влизане</button>
		</div>

	</form>
	<div class="col-md-12" id="move">
		<a href="{{ path('registration') }}" class="btn btn-primary btn-block">Регистрация</a>
	</div>


	<img src="assets/img/hero.jpg" / style="margin-top:120px;margin-left:100px">
{% endblock %}
