{% extends 'base.html.twig' %}

{% block title %}Влизане
{% endblock %}


{% block body %}
	<header>
		<h2>
			<a class="nav-link" href="{{ path('app_home') }}">SB CARS</a>
		</h2>
		<nav>
			<li>
				<a href="{{ path('app_home') }}" class="nav-link" href="#services">Начало</a>
			</li>
		</nav>
	</header>
	<div class="container" style="margin-top:150px;">
		<div class="login-background-image" style="background-image: url(assets/img/hero.jpg);"></div>
		<div class="row">
			<div class="col-md-10 ml-md-auto">
				<div class="card bg-light mb-3 mt-5" style="width: 70%;">
					<div class="card-body" id="registration">
						<div class="card-header mb-3">Влизане</div>

						<form action="{{ path('app_login') }}" method="post">
							<div class="form-group">
								<div class="col-md-12 mb-3 email">
									<label for="username">Имейл:</label>
									<input type="text" id="username" class="form-control" name="email" value="{{ email ?? '' }}"/>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-12 mb-3 email">
									<label for="password">Парола:</label>
									<input type="password" id="password" class="form-control" name="password" value="{{ password ?? '' }}"/>
								</div>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="form-group">
								<div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
									<button type="submit" class="btn btn-primary">
										<i class="fa fa-btn fa-user"></i>
										Влизане
									</button>
								</div>
							</div>

						</form>


						{% if error %}
							<div class="alert alert-danger" role="alert">
								{{ error.messageKey|trans(error.messageData, 'security') }}
							</div>

						{% endif %}
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-8"></div>
							<div class="col-md-4">
								<a href="{{ path('registration') }}" class="btn">Регистрация</a>
							</div>
						</div>

					</div>


				</div>

			</div>
		</div>
	</div>
{% endblock %}
