{% extends 'admin-base.html.twig' %}

{% block title %}
	Предложение
{% endblock %}

{% block body %}

	<div class="container container-survey">
		<div class="row custom-row" id="app">
			<div class="col-md-2">
				<div class="sidebar">
					<a class="active" href="{{ path('listing') }}">Автомобили</a>
					<a href="{{ path('survey') }}">Заяква за търсене</a>
					<a href="{{ path('app_logout') }}">Изход</a>
				</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Email</th>
						<th scope="col">Марка</th>
						<th scope="col">Модел</th>
						<th scope="col">Скоростна кутия</th>
						<th scope="col">Гориво</th>
						<th scope="col">Конски сили</th>
						<th scope="col">От</th>
						<th scope="col">До</th>
					</tr>
				</thead>

				<tbody>
					{% for data in user.surveys.getValues() %}
						<tr>
							<td>{{user.email}}</td>
							<td>{{data.mark}}</td>
							<td>{{data.model}}</td>
							<td>{{data.getGearBox()}}</td>
							<td>{{data.eng}}</td>
							<td>{{data.getHorsePower()}}</td>
							<td>{{data.getCreatedAt()}}</td>
							<td>{{data.getEndDate()}}</td>

						</tr>
					{% endfor %}

				</tbody>
			</tbody>
		</table>
	</div>
</div>{% endblock %}
